{% extends "base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/challenge-board.css">
{% endblock %}

{% block content %}

<div class="jumbotron">
	<div class="container">
		<h1>Challenges</h1>
	</div>
</div>

{% if infos %}
	<div class="container">
		<div id='errors' class="row">
			<div class="col-md-12">
				{% for info in infos %}
					<h1 class="text-center">{{ info }}</h1>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}

{% if errors %}
<div class="container">
	<div id='errors' class="row">
		<div class="col-md-12">
{% for error in errors %}
			<h1 class="text-center">{{ error }}</h1>
{% endfor %}
		</div>
	</div>
</div>
{% endif %}

{% if admin or not errors %}
<div class="container">
	<div id='challenges-board'>
		<div class="text-center">
			<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
		</div>
	</div>
</div>

<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

<div class="modal fade" id="chal-window" tabindex="-1" role="dialog">
</div>
{% endif %}

{% if not errors %}
<div class="notification-box-fixed active" id="list-notic-box" tabindex="0">
	<div class="header" onclick="toggleNotic()">
		Thông báo
	</div>
	<div class="container" id="list-notic" onscroll="listNoticScroll(this)">

	</div>
</div>

<script>
var sock = new WebSocket('ws://45.63.122.81:8881');
sock.onmessage = function(event){
	var notic = `<div class="notic">
		`+event.data+`
	</div>`;
	document.getElementById('list-notic').innerHTML +=  notic;
	var noticBox = document.getElementById('list-notic-box');
	if(noticBox.className.indexOf('has-notic') === -1){
		noticBox.classList.add('has-notic');
	}
	var container = document.getElementById('list-notic');
	container.scrollTop = container.scrollHeight;
};

document.getElementById('list-notic-box').addEventListener('focus', function(){
	if(this.className.indexOf('has-notic') !== -1 && this.classname.indexOf('active') !== -1){
		this.classList.remove('has-notic');
	}
});

var page = 1;

function listNoticScroll(container){

	if(container.scrollTop <= 0 && document.getElementById('list-notic-box').className.indexOf('active') !== -1){
		var oldScrollHeight = container.scrollHeight;
		getNotification();

		var newScrollHeight = container.scrollHeight;
		container.scrollTo(0, newScrollHeight - oldScrollHeight);
		console.log(newScrollHeight - oldScrollHeight);
	}
}

function toggleNotic(){
	var noticBox = document.getElementById('list-notic-box');
	if(noticBox.className.indexOf('active') !== -1)
		noticBox.classList.remove('active');
	else {
		noticBox.classList.add('active');
	}
};

getNotification();

function getNotification(){
	var xhttp = new XMLHttpRequest();
	var container = document.getElementById('list-notic');

	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			var messages = JSON.parse(xhttp.responseText);
			messages.reverse();
			var notic = '';

			if(messages.length > 0){
				messages.forEach(function(message){
					notic += `<div class="notic">
						`+message+`
					</div>`;
				});

				container.innerHTML =  notic + container.innerHTML;

				if(page == 1){
					container.scrollTop = container.scrollHeight;
				}
				page++;
			}

		}
	};
	xhttp.open("GET", 'http://45.63.122.81:4000/noti/'+page, true);
	xhttp.send();
}

</script>
{% endif %}

{% endblock %}

{% block scripts %}
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/utils.js"></script>
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/multi-modal.js"></script>
	{% if admin or not errors %}
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/chalboard.js"></script>
	{% endif %}
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/style.js"></script>
{% endblock %}
