.chal-desc {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.modal-content {
    border-radius: 0px;
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
}

.btn-info {
    background-color: #5B7290 !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.challenge-button {
    box-shadow: 3px 3px 3px grey;
}

.solved-challenge {
    background-color: #37d63e !important;
    opacity: 0.4;
    border: none;
}

.corner-button-check {
    margin-top: -10px;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.key-submit .btn {
    height: 51px;
}

.footer{
	z-index: -1 !important;
}

/*notification bõx*/
.notification-box-fixed{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.notification-box-fixed .header{
	cursor: pointer;
	background: #4285f4;
	color: #fff;
	border-radius: 5px 5px 0 0;
	padding: 7px 14px;
	font-weight: bold;
}

.notification-box-fixed.has-notic .header{
	animation-name: changeColor;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}

@keyframes changeColor {
	0%:{
		background: #4285f4;
	}

	50%{
		background: #eee;
	}

	100%:{
		background: #4285f4;
	}
}

.notification-box-fixed .container{
	height: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
}

.notification-box-fixed.active .container{
	height: 300px;
}

.notification-box-fixed .container .notic{
	margin: 0;
	padding: 0;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

.notification-box-fixed .container .notic:last-child{
	border-bottom: 0px;
}
